:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background: #ece9e8;
  --backgroundshade: rgb(220, 220, 220);
  --whiteshade: #EDEADE;
  --whiteshade2: #E2DFD2;

  --emerald: #50c878;
  --success2: #009900;
  --success: #00CC33;
  --color1: #2c1f1f;
  --cobaltblue: #0047ab;
  --color2: #0479f6;
  --blend2: #0770E8;
  --blend3: #0D62D3;
  --blend4: #1059C4;
  --blend5: #144FB6;
  --color3: #0000FF;
  --navyblue: #000080;
  --cherryred: #D2042D;
  --blueishblack: #000033;
  --purple: #6633FF;
  --clearblue: #00CCFF;
  --darkblue: #000099;
  --color4: #163967;
  --color5: #1746a8;
  --color6: #95adc4;
  --color7: #3b3b3e;
  --color8: #2e3182;
  --golden: #efb43a;
  --error: #ee0a28;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-family: 'Tilt Warp';
  transition: .2s;
  background: var(--background);
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: black;
}