.profileContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profileContent {
    margin-top: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.profileWorkerInformation {
    width: 50%;
    border-radius: 10px;
    padding-top: 20px;
    border: 2px solid var(--eblue);
    padding: 30px;
}

.profileWorkerName {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profileWorkerName h1:nth-child(2) {
    border: 2px solid;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.profileWorkerInformation p:nth-child(2) {
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}

.profileWorkerInformation p:nth-child(3) {
    color: var(--blueishblack);
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 800;
    font-size: 20px;
}

.profileLogout button{
    padding: 10px;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 800;
    border-radius: 5px;
    color: var(--error);
    cursor: pointer;
}

.profileLogout button:hover {
    color: white;
    background: red;
}