.profileContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.disappearingMessage {
    position: absolute;
    margin-top: 30vh;
    padding: 30px;
    color: var(--cherryred);
}

.profileContent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profileWorkerInformation {
    width: 60%;
    border-radius: 10px;
    padding-top: 20px;
    border: 2px solid var(--eblue);
    padding: 30px;
}

.profileWorkerName {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profileWorkerName h1:nth-child(2) {
    border: 2px solid;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.profileWorkerName h1:nth-child(2):hover {
    background: var(--blueishblack);
    color: white !important;
    border: 2px solid var(--blueishblack) !important;
}

.profileWorkerInformation p:nth-child(2) {
    font-size: 30px;
    font-weight: 500;
    margin-left: 10px;
}

.profileWorkerInformation p:nth-child(3) {
    color: var(--blueishblack);
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 800;
    font-size: 20px;
}

.profileLogout button{
    padding: 10px;
    font-size: 25px;
    margin-top: 20px;
    font-weight: 800;
    border-radius: 5px;
    color: var(--cherryred);
    cursor: pointer;
}

.profileLogout button:hover {
    color: white;
    background: var(--cherryred);
}

.profileCompanyData {
    width: 70%;
    padding: 30px;
    overflow-y: scroll;
    height: 300px;
    overflow-x: hidden;
}

.profileCompanyPost {
    border: 2px solid var(--blueishblack);
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 5px 0px;
    border-radius: 5px;
    color: var(--blueishblack);
    font-size: 12px;
}

.profileCompanyPost h1:nth-child(1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileCompanyPost h1:nth-child(1):hover {
    color: var(--teal);
}

.profileCompanyPost h1:nth-child(1):after {
    position: relative;
    width: 0px;
    content: "";
    display: block;
    height: 2px;
    background: var(--blueishblack);
    z-index: 1;
    transition: .2s;
}

.profileCompanyPost h1:nth-child(1):hover:after {
    width: 100%;
}

.profileCompanyPost h1:nth-child(2) {
    color: white;
    background: var(--blueishblack);
    padding: 5px 10px;
    border-radius: 5px;
}

.profileCompanyPost:hover {
    border: 2px solid var(--cherryred);
    cursor: pointer;
    transform: translateY(-5px);
}

.icon {
    font-size: 28px;
    margin: 0px 5px;
    z-index: 1;
    position: relative;
}

.postIcons .icon:nth-child(1):hover {
    color: var(--cherryred);
}

.postIcons .icon:nth-child(2):hover {
    color: var(--teal);
}

.editShade {
    opacity: .8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.editContent {
    position: absolute;
    border: 2px solid var(--blueishblack);
    width: 70%;
    height: 90%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.editContent section {
    width: 60%;
    margin: 5px 0px;
/*     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.editContent section p {
    color: var(--blueishblack);
    font-weight: 800;
    font-size: 25px;
}

.editContent section input {
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    width: 100%;
}

.editContent section article {
    width: 100%;
}

.editDescription textarea {
    width: 100%;
    padding: 5px;
    font-size: 18px;
}

#editSalary article input{
    width: 40% !important;
    text-align: center;
}

#editSalary article select {
    width: 25% !important;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

#editJobType article{
    display: flex;
}

#editJobType article h1 {
    margin: 10px;
    border: 2px solid var(--blueishblack);
    padding: 10px;
    cursor: pointer;
    color: var(--blueishblack);
    border-radius: 5px;
}

.selectedJob, #editJobType article h1:hover {
    background: var(--blueishblack) !important;
    color: white !important;
}

#editDuration input{
    width: 30%;
    text-align: center;
}

#editDuration {
    font-weight: 800;
    font-size: 20px;
}

#editDuration p span {
    color: var(--color6);
    font-size: 15px;
}

.editButtons button{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 800;
}

#finishButton {
    color: var(--blueishblack);
}

#finishButton:hover {
    background: var(--blueishblack);
    color: white;
    cursor: pointer;
}

#cancelButton {
    color: var(--cherryred);
}

#cancelButton:hover {
    background: var(--cherryred);
    color: white;
    cursor: pointer;
}

@media only screen and (max-width:991px) {
    .profileContent {
        width: 95%;
    }

    .profileWorkerInformation {
        width: 90%;
    }

    .profileCompanyData {
        width: 90%;
    }

    .profileCompanyPost {
        flex-direction: column;
        font-size: 10px;
        height: 150px;   
    }

    .profileCompanyPost h1:nth-child(1) {
        font-size: 20px;
    }

    .profileCompanyPost h1:nth-child(2) {
        font-size: 20px;
        width: 300px;
        text-align: center;
    }

    .editContent {
        width: 95%;
    }

    .editContent section {
        width: 95%;
    }

    .editContent section p, .editContent section input {
        font-size: 20px;
    }

    .editContent section input, .editContent section textarea {
        width: 90%;
    }
}

@media only screen and (max-width:600px) {
    .profileWorkerInformation {
        width: 350px;
        padding: 10px;
    }
    
    .profileWorkerName {
        flex-direction: column;
        padding: 0;
    }

    .profileWorkerName h1 {
        width: fit-content;
        font-size: 20px !important;
        padding: 0;
    }
    
    .profileWorkerInformation p {
        padding: 0;
        font-size: 25px !important;
    }

    .editContent section p, .editContent section input, .editContent section article {
        font-size: 15px;
    }

    #editSalary article select {
        font-size: 15px !important;
    }

    #editJobType article h1 {
        font-size: 15px !important;
    }
}