.signupContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
}

#signupHeader {
    margin-top: 90px;
    font-size: 60px;
    color: var(--blueishblack);
    text-align: center;
}

.signupContent {
    padding: 20px;
    width: 50%;
}

.signupContainer h1 {
    font-size: 25px;
    color: var(--blend4);
}

.signupContainer input {
    border-radius: 10px;
    width: 100%;
    padding: 20px 5px;
    font-size: 24px;
    background: none;
    border: 2px solid var(--color5);
    color: var(--color5);
    font-weight: 800;
}

input:focus {
    box-shadow: 0px 5px 10px var(--blend5);
}

.signupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
}

.isCompanySignup {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    background: white;
    padding: 20px 0px;
    border-radius: 10px;
    border: 2px solid black;
    transform: translateX(10px);
}

.isCompanySignup h1 {
    background: none;
}

.isCompanySignup button {
    margin: 10px;
    background: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    border: 2px solid transparent;
}

#yes:hover {
    color: var(--success2);
}

#no:hover {
    color: var(--error);
}

#yes:hover, #no:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.CompanyActive {
    color: var(--success2);
    border: 2px solid var(--success2) !important;
}

.signupContent section {
    margin: 20px;
    width: 100%;
}

.signupCountry article{
    height: 200px;
    overflow-y: scroll;
}

.signupCountry article h1{
    color: var(--teal);
    padding: 5px;
}

.signupCountry article h1:hover {
    background: var(--bluegreen);
    cursor: pointer;
    color: var(--navyblue);
}

.signupSubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signupSubmit button {
    padding: 10px;
    border-radius: 15px;
    font-size: 25px;
    color: var(--blueishblack);
}

.signupSubmit button:hover {
    cursor: pointer;
    color: white;
    background: var(--blueishblack);
}

#signupError {
    color: var(--error);
}

.completeSignup {
    width: 100%;
    height: 100vh;
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
}

.completeSignup section {
    font-size: 35px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
}

.completeSignup section h1 {
    color: var(--color4);
}

.completeSignup section h1 a {
    color: var(--blend5);
}

@media only screen and (max-width: 991px) {
    #signupHeader {
        font-size: 30px;
    }
    
    .signupContent {
        width: 90%;
        padding: 0px;
    }

    .signupContent section {
        margin: 10px 0px;
    }

    .signupContent section h1 {
        font-size: 20px;
    }

    .signupContent section input {
        font-size: 20px;
    }
}

@media only screen and (max-width:600px) {
    .isCompanySignup {
        flex-direction: column;
    }

    .completeSignup section{
        font-size: 15px;
    }
}