.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),repeating-linear-gradient(22.5deg, rgb(255,255,255) 0px, rgb(255,255,255) 10px,transparent 10px, transparent 11px),linear-gradient(90deg, hsl(194,74%,56%),hsl(266,74%,56%),hsl(338,74%,56%),hsl(50,74%,56%),hsl(122,74%,56%));
    flex-direction: column;
}

.loginContent {
    padding: 50px;
    width: 30%;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginContent h1 {
    font-size: 40px;
}

.loginContent h1 span {
    color: var(--blend5);
}

.loginContent p {
    width: 100%;
    text-align: justify;
    font-size: 20px;
    color: var(--color8);
    transform: translateY(10px) translateX(-20px);
}

.loginContent input {
    color: var(--color8);
    border: 2px solid var(--color8);
    border-radius: 10px;
    font-size: 25px;
    margin: 10px 0px;
    width: 100%;
    padding: 20px;
    font-weight: 800;
}

.loginSubmit {
    padding: 10px 20px;
    margin: 20px;
    font-size: 25px;
    border-radius: 10px;
}

.loginSubmit:hover {
    background: var(--color8);
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
}

@media only screen and (max-width: 991px) {
    .loginContent {
        width: 90%;
        padding: 20px;
    }

    .loginContent p {
        margin-left: 20px;
    }

    .loginContent input {
        padding: 10px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .loginContent h1 {
        font-size: 30px;
    }
}