.navbarContainer {
    width: 100%;
    height: 70px;
    display: flex;
    background: var(--background)
}

.logo, .links {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    font-family: 'Tilt Warp';
    color: var(--color4);
    font-size: 30px;
}

.links a {
    font-family: 'Tilt Warp';
    margin: 10px;
    font-size: 20px;
    padding: 10px 15px;
    transition: .2s;
}

#login {
    color: var(--color4);
/*     border: 2px solid var(--color4); */
    border-radius: 10px;
    position: relative;
    background: transparent;
    z-index: 2;
}

#login:before {
    content: '';
    display: block;
    position: absolute;
    height: 50px;
    width: 0px;
    background: var(--color1);
    transform: translateY(-10px) translateX(-20px);
    border-radius: 10px;
    transition: .2s;
    z-index: -1;
}

#login:hover:before {
    width: 90px;
}

#login:hover {
    color: var(--color6);
}

#signup {
    background: var(--color8);
    color: var(--color6);
    border-radius: 10px;
    border: 2px solid transparent;
}

#signup:hover {
    background: var(--background);
    color: var(--color8);
    border: 2px solid black;
}